# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# User uploads
user_uploads/

# Generated reels/videos
static/reels/

# Logs/temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# FFmpeg outputs
*.mp4
*.mp3

# Optional
done.txt